/*  --------------- Google font Cdn here ------------ */
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Roboto:wght@500&display=swap');
/* font-family: 'Cabin', sans-serif;
font-family: 'Roboto', sans-serif; */
:root{
    --navcolor:white;
    --navbgcolor:#7119E5;
    --backcolor:rgb(188, 237, 205);
}

:root
{
    --backcolor:rgb(188, 237, 205);
}

.navbar-brand img
{
    resize: none;
    height: 50px;
    width: 60px;
}

/* -------------   Google and other cdn end here ---------- */
nav{
    background-color:var(--navbgcolor);
}
.navbar
{
    color: var(--navcolor);
    font-family: 'Cabin', sans-serif;
    font-size: 1.2rem;
}
/* #navbar-ul .nav-item .nav-link:focus, */

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color:var(--navbgcolor);
    border: none;
}
.nav-link:hover
{
    color: #000;
}
.nav-link
{
    color: var(--navcolor);
}
.navbar-icon a i{
    color: white;

} 
.navbar-icon  i{
    padding: 10px; 
}
.navbar-icon :nth-child(4)
{
    border-right: 1px solid white;
}
.nav-link:hover, .dropdown-item:hover,  .navbar-icon i:hover{
    cursor: pointer;
    transition: ease-in-out 0.2s;
    color: rgb(20, 9, 60);
} 

.navbar-icon>span
{
    padding-left:15px;
}

/* ----------- navbar end here ------------ */

/* --------- list group start here -------- */

.list-group-item a
{
    text-decoration: none;
}
.list-group-item a:hover
{
    color: blue;
    font-weight: 500;
}
body
{
    background-color: var(--backcolor);
}

/* ------------- footer start here ----------- */
footer {
    background-color: rgb(211, 206, 206);
    margin-top: 20px;
  }
  #footer {
    padding-top: 20px;
  }
  .footer-ul {
    list-style-type: none;
  }
  .footer-ul li {
    text-align: left;
  }
  .footer-title {
    padding-left: 30px;
    flex-wrap: wrap;
  }
  
  @media  (max-width:770px) {
    .video
    {
        width: 300px;
        height: 200px;    
    }
  }
  @media   (max-width:325px) {
    .video
    {
        width: 200px;
        height: 150px;    
    }
  }
  @media    (max-width:223px) {
    .video
    {
        width: 80px;
        height: 100px;    
    }
    }
    @media  (min-width:100px)  and (max-width:223px) {
        .video
        {
            width: 50px;
            height: 70px;    
        }
  }